@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
html{
    font-family: 'Noto Sans JP', sans-serif;
    min-height:100vh;
    --main-bg-color:#aaa;
    --sub-bg-color:#ddd;
    --accent-color: #999;
    --accent-2-color:#e7cdbf;
    --accent-3-color:#c1917f;
}
body{
    background-color: var(--main-bg-color);
    margin:0;
    min-height:100vh;
}
#m_container{
    min-height: calc(100vh - 3em);
    display:flex;
    justify-content: center;
    align-items:center;
}
#m_item{
    background-color: var(--sub-bg-color);
    padding:1em;
    border-radius:0.5em;
    height:auto;
}
.input_box{
    width:100%;
}
.right_box{
    text-align: right;
}
input[type="text"],input[type="email"]{
    box-sizing:border-box;
    width:100%;
    margin-top:3px;
    font-size:1.1em;
    border:none;
    border-bottom:var(--main-bg-color) solid 2px;
    padding:0.5em 0 calc(0.5em - 3px) 1em;
}
input[type="submit"]{
    background-color: var(--accent-color);
    font-size:1em;
    border:none;
    margin: 0.5em 0.5em 0 auto;
    border-radius:0.2em;
    padding:0.2em;
}
h1{
    margin:0;
}
p{
    margin:0;
}

footer{
    background-color: var(--sub-bg-color);
    height:3em;
}