@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
html{
    font-family: 'Noto Sans JP', sans-serif;
    min-height:100vh;
    --main-bg-color:#aaa;
    --sub-bg-color:#ddd;
    --accent-color: #7cafaf;
    --accent-2-color:#e7cdbf;
    --accent-3-color:#c1917f;
}
body{
    background-color: var(--main-bg-color);
    margin:0;
    min-height:100vh;
}
#m_container{
    min-height: 100vh;
    display:flex;
    justify-content: center;
    align-items:center;
}
#m_item{
    background-color: var(--sub-bg-color);
    padding:1em;
    border-radius:0.5em;
    height:auto;
}
.input_box{
    width:100%;
}
.right_box{
    text-align: right;
}
input[type="text"]{
    box-sizing:border-box;
    width:100%;
    border:none;
    padding:0.5em 0 0.5em 1em;
}
input[type="submit"]{
    background-color: var(--accent-3-color);
    border:none;
    margin: 0.5em 0.5em 0 auto;
    border-radius:1em;
    padding:1em;
}