@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
html{
    font-family: 'Noto Sans JP', sans-serif;
    min-height:100vh;
    --main-bg-color:#339773;
    --sub-bg-color:#c2e192;
    --accent-color:#d3c59e;
    --accent-2-color:#e7cdbf;
    --accent-3-color:#c1917f;
}
body{
    background-color: var(--main-bg-color);
    margin:0;
    min-height:100vh;
}
#m_container{
    min-height: 100vh;
    display:flex;
    justify-content: center;
    align-items:center;
}
#m_item{
    background-color: var(--sub-bg-color);
    padding:5em;
    border-radius:1em;
    height:auto;
}